
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1000;
    background: var(--yellow);
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(8, 3, 3, 0.1);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #01411C;
   
}
.header .logo i{
    color: #01411C;
    padding-right: .5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color:#01411C;
    margin: 0 1rem;
    font-weight: bold;
    text-decoration: overline;
    text-decoration-color: rgb(8, 37, 94);
}
.header .navbar h1{
    margin-left: 30px;
    color: #01411C;
    font-weight: bold;
}
.header .navbar h4{
    margin-left: 70px;
    color: #01411C;
    font-weight: bold;
}

.header .navbar a:hover{
    color: #dfefe6;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color:#01411C;
}

.header .icons div:hover{
    color:#01411C;
}
#menu-btn{
    display: none;
}

.about button{
    text-align: center;
    justify-content: center;
    font-size: 16px ;
    background-color: #046aaa;
    border: none;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    float: left;
    margin-left: 450px;
}
.about1 button{
    text-align: center;
    justify-content: center;
    font-size: 16px ;
    background-color: #046aaa; 
    border: none;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
.about button:hover{
    background-color: rgb(2, 76, 141);
}

.about1 button:hover{
    background-color: rgb(2, 76, 141);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10rem;
    text-align: center;
    background-image: url('./components/images/rea.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 2px solid #4b75df; 
    border-radius: 8px;
}

.home .slides-container .slide{
    display: flex;
    flex-wrap: wrap;
    display: none;
}
.home .slides-container .slide.active{
    display: flex;
}
.home .slides-container .slide-active .content {
    flex: 1;
    text-align: left;
}
.home .slides-container .slide-active .content h3 {
    text-shadow: #000000;
    color: #2d0a0a;
    text-shadow: rgb(224, 62, 62);
    text-align: justify;
    text-transform: uppercase;
    font-family: monospace;
    width:500px;
}

.home .slides-container .slide-active .content h2 {
    color: rgb(16, 16, 28);
    text-decoration: underline;
    text-decoration-color: #f2fbff;
    margin-bottom: 40px;
    font-size: 28px;
    text-transform: uppercase;
    font-family: monospace;
}

  
  .tet {
    background-color: #f8f8f8;
    padding: 40px 20px;
  }
  .conhome{
    background-color: #f8f8f8;
    padding: 40px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #4b75df; 
    border-radius: 8px;
  }
  
  .slide-actives {
    overflow: hidden;
  }
  
.flex-containers {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
  }
  .flex-containers h1{
    font-family: 'Roboto', sans-serif;
    color: blue;  
  }
  .flex-containers p {
    color: #333 ;
  }
 .box-containers {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border: 1px solid #3498db; 
    padding: 20px;
    margin: 10px;
    width: 400px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 450px;
  }
  
.box-containers:hover {
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
    border: 1px solid #2980b9; 
  }
  
  .selected {
    background-color: #ffffff;
    border: 1px solid #3498db;
    box-shadow: #000000;
    height: auto;
  }
  
  .additional-details {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    border: 1px solid #2ecc71;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: auto;
  }
  
  .additional-details h3 {
    color: #333;
    margin-top: 0;
  }
  
  .additional-details li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
.boxs {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    border: 1px solid #101914; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .b {
    display: flex;
    align-items: center;
  }
  
  .b button {
    font-family: 'Roboto', sans-serif;
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .b button:hover {
    background-color: #3367d6;
  }
  
  a {
    font-family: 'Roboto', sans-serif;
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    transition: color 0.3s ease;
  }
  
  a:hover {
    text-decoration: underline;
    color: #1f74b3;
  }
  
.secButton button {
    background-color: rgb(5, 73, 98);
    color: #fff;
    border: 2px solid #ccc;
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.secButton button:hover {
    background-color: rgb(19, 124, 148);
}

.about1 button {
    background-color: rgb(5, 73, 98);
}

.about1 button:hover {
    background-color: rgb(19, 124, 148);
}
