*{
/* color:rgb(19, 124, 148); ; */
}

.tetgelegH1 {
    text-align: center;
    color: rgb(19, 124, 148);

}

.tetgeleg h1 {
    color: rgb(19, 124, 148);
    font-size: 32px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.tetgeleg fieldset {
    margin: 20px auto;
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid rgb(19, 124, 148);
    border-radius: 8px;
}

.tetgeleg input {
    color: rgb(17, 110, 131);

    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.tetgeleg label {
    color: rgb(19, 124, 148);

    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

.tetgeleg select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.tetgeleg button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(5, 73, 98);
    border: 2px solid #ccc;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

.tetgeleg button:hover {
    background-color: rgb(19, 124, 148);
}

.tetgeleg a {
    display: block;
    margin-top: 10px;
    color: rgb(19, 124, 148);
    text-decoration: none;
}

.tetgeleg a:hover {
    text-decoration: underline;
}

.exit-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(5, 73, 98);
    border: 2px solid #ccc;
    color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
}

/* Add some basic styling to the table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Style the table header */
  .head-scholar {
    background-color: #5bc0de; /* Change this to your desired header background color */
    color: #fff; /* Change this to your desired header text color */
  }
  
  .head-scholar th {
    padding: 10px;
    font-weight: bold;
  }
  
  /* Style the table body */
  .body-scholar tr:nth-child(even) {
    background-color: #f2f2f2; /* Change this to your desired even row background color */
  }
  
  .body-scholar td {
    padding: 10px;
  }
  
  /* Add hover effect on table rows */
  .body-scholar tr:hover {
    background-color: #dff0d8; /* Change this to your desired row hover background color */
  }
  